[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-oscar = "*"
django-ckeditor = "*"
django-haystack = "*"
django-tailwind = "*"
django-browser-reload = "*"
django-tables2 = "*"
django-treebeard = "*"
django-widget-tweaks = "*"
django-phonenumber-field = "*"
django-extra-views = "*"
pillow = "*"
pysolr = "*"
sorl-thumbnail = "*"
purl = "*"
phonenumbers = "*"
pycountry = "*"
factory-boy = "*"
django-environ = "*"
build123d = {git = "https://github.com/gumyr/build123d"}
# PostgreSQL driver (para Docker/Producción)
psycopg2-binary = "*"
# Production server
gunicorn = "*"

[dev-packages]
pylint = "*"
pylint-django = "*"
pylint-celery = "*"

[requires]
python_version = "3.13"
