@import "tailwindcss";

/* 1. Plugins Oficiales (que ya tienes en package.json) */
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/aspect-ratio";

/* DaisyUI (Opcional, vino con la plantilla, puedes dejarlo o quitarlo) */
@plugin "daisyui";

/* 2. Rutas de escaneo (Para que detecte tus clases en Django) */
@source "../../../**/*.{html,py,js}";

/* CONFIGURACIÓN (Colores y Fuentes) */
@theme {
  /* Colores personalizados */
  --color-xyz-clay: #CCA498;      /* Terracota */
  --color-xyz-sage: #8A9A5B;      /* Salvia */
  --color-xyz-offwhite: #F0EAD6;  /* Blanco Hueso */
  --color-xyz-charcoal: #36454F;  /* Gris Texto */

  /* Fuentes */
  --font-squada: "Squada One", cursive;
  --font-roboto: "Roboto", sans-serif;
}